@charset "UTF-8";
@import url("http://fonts.googleapis.com/css?family=Roboto+Slab|Merriweather|Josefin+Slab|Oswald|Bree+Serif");
* {
  margin: 0;
  padding: 0;
  font-family: Georgia, serif;
}

html {
  scroll-behavior: smooth;
}

h1,
h2,
h3,
p,
address,
ul,
figure {
  margin: 0;
}

ul {
  padding-left: 0;
}

@media (min-width: 1000px) {
  body {
    background-color: rgb(255, 255, 255);
  }
  .nav {
    width: 100px;
    height: 100vh;
    background-color: rgb(255, 255, 255);
    border-right: 1px black solid;
    position: fixed;
    top: 0;
    left: 0px; /* 最初は画面外に配置 */
    transition: left 0.3s; /* 左の位置を変化させるアニメーション */
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
    justify-content: center;
  }
  .nav--menu__btn {
    display: flex;
    flex-direction: column;
    row-gap: 1.5vh;
    -moz-column-gap: 0vh;
         column-gap: 0vh;
  }
  .bar-top {
    width: 30px;
    height: 1px;
    display: block;
    background-color: black;
  }
  .bar-middle {
    width: 20px;
    height: 1px;
    display: block;
    background-color: black;
  }
  .bar-bottom {
    width: 10px;
    height: 1px;
    display: block;
    background-color: black;
  }
  .nav--list__wrapper {
    display: none;
  }
}
.contents--wrapper {
  position: absolute;
  left: 230px;
  width: 75%;
  padding-top: 8vh;
}
.contents--wrapper h3 {
  color: rgb(93, 41, 11);
  font-family: Snell Roundhand, cursive;
  -webkit-text-decoration: underline 9px rgb(241, 235, 225);
          text-decoration: underline 9px rgb(241, 235, 225);
}
.contents--wrapper .header--wrapper {
  display: flex;
  -moz-column-gap: 10vh;
       column-gap: 10vh;
}
.contents--wrapper .header--wrapper .header--wrapper__left {
  display: flex;
  flex-direction: column;
  row-gap: 13vh;
  -moz-column-gap: 0vh;
       column-gap: 0vh;
  justify-content: center;
  align-items: center;
}
.contents--wrapper .header--wrapper .header--wrapper__left .header--wrapper__leftImg figure {
  display: flex;
  -moz-column-gap: 5vh;
       column-gap: 5vh;
}
.contents--wrapper .header--wrapper .header--wrapper__left .header--wrapper__leftImg img {
  width: 18vh;
  height: 22vh;
  -o-object-fit: cover;
     object-fit: cover;
  border-top-right-radius: 30%;
  border-bottom-left-radius: 30%;
}
.contents--wrapper .header--wrapper .header--wrapper__left .header--wrapper__leftContents {
  display: flex;
  flex-direction: column;
  row-gap: 5vh;
  -moz-column-gap: 0vh;
       column-gap: 0vh;
  justify-content: 0;
  align-items: end;
}
.contents--wrapper .header--wrapper .header--wrapper__left .header--wrapper__leftContents h1,
.contents--wrapper .header--wrapper .header--wrapper__left .header--wrapper__leftContents h4 {
  text-align: right;
  color: #6f3f06;
}
.contents--wrapper .header--wrapper .header--wrapper__left .header--wrapper__leftContents h1 {
  font-size: 6vh;
  letter-spacing: 3px;
}
.contents--wrapper .header--wrapper .header--wrapper__left .header--wrapper__leftContents h4 {
  font-family: Snell Roundhand, cursive;
}
.contents--wrapper .header--wrapper .header--wrapper__left .header--wrapper__leftContents button {
  width: 30vh;
  height: 8vh;
  background-color: white;
  color: #6f3f06;
  border: rgb(210, 182, 143) 1px solid;
  cursor: pointer;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 2px;
  font-size: 15px;
}
.contents--wrapper .header--wrapper .header--wrapper__rightImg img {
  height: 100vh;
  width: 80vh;
  -o-object-fit: cover;
     object-fit: cover;
}
.contents--wrapper .products--wrapper {
  display: flex;
  flex-direction: column;
  row-gap: 10vh;
  -moz-column-gap: 0vh;
       column-gap: 0vh;
}
.contents--wrapper .products--wrapper h3 {
  color: rgb(93, 41, 11);
  font-family: Snell Roundhand, cursive;
}
.contents--wrapper .products--wrapper .products--wrapper__img {
  width: 100%;
}
.contents--wrapper .products--wrapper .products--wrapper__img figure {
  gap: 20px;
}
.contents--wrapper .products--wrapper .products--wrapper__img figure :nth-child(1) {
  width: 50vh;
  height: 60vh;
  -o-object-fit: cover;
     object-fit: cover;
  grid-column: 1/2;
  grid-row: 1/2;
}
.contents--wrapper .products--wrapper .products--wrapper__img figure :nth-child(2) {
  width: 45vh;
  height: 45vh;
  -o-object-fit: cover;
     object-fit: cover;
  grid-column: 2/3;
  grid-row: 1/2;
}
.contents--wrapper .products--wrapper .products--wrapper__img figure :nth-child(3) {
  width: 45vh;
  height: 45vh;
  -o-object-fit: cover;
     object-fit: cover;
  grid-column: 3/4;
  grid-row: 1/2;
}
.contents--wrapper .products--wrapper .products--wrapper__img figure :nth-child(4) {
  width: 50vh;
  height: 50vh;
  -o-object-fit: cover;
     object-fit: cover;
  grid-column: 1/2;
  grid-row: 2/3;
}
.contents--wrapper .products--wrapper .products--wrapper__img figure :nth-child(5) {
  width: 90vh;
  height: 70vh;
  -o-object-fit: cover;
     object-fit: cover;
  grid-column: 2/4;
  grid-row: 2/3;
}
.contents--wrapper .aboutUs--wrapper {
  display: flex;
  flex-direction: column;
  row-gap: 5vh;
  -moz-column-gap: 0vh;
       column-gap: 0vh;
}
.contents--wrapper .aboutUs--wrapper .aboutUs--contents__wrapper {
  display: flex;
}
.contents--wrapper .aboutUs--wrapper .aboutUs--contents__wrapper .aboutUs--text {
  display: flex;
  flex-direction: column;
  row-gap: 5vh;
  -moz-column-gap: 0vh;
       column-gap: 0vh;
  justify-content: center;
}
.contents--wrapper .aboutUs--wrapper .aboutUs--contents__wrapper .aboutUs--text h3 {
  padding-left: 20vh;
}
.contents--wrapper .aboutUs--wrapper .aboutUs--contents__wrapper .aboutUs--text p {
  color: #95969c;
  letter-spacing: 2px;
}
.contents--wrapper .aboutUs--wrapper img {
  width: 80vh;
  height: 80vh;
}
.contents--wrapper .bestSeller--wrapper {
  display: flex;
  flex-direction: column;
  row-gap: 5vh;
  -moz-column-gap: 0vh;
       column-gap: 0vh;
}
.contents--wrapper .bestSeller--wrapper .bestSeller--text {
  display: flex;
  justify-content: space-around;
}
.contents--wrapper .bestSeller--wrapper .bestSeller--img {
  display: flex;
  -moz-column-gap: 8vh;
       column-gap: 8vh;
  justify-content: space-between;
}
.contents--wrapper .bestSeller--wrapper .bestSeller--img figure {
  display: flex;
  flex-direction: column;
  row-gap: 3vh;
  -moz-column-gap: 0vh;
       column-gap: 0vh;
}
.contents--wrapper .bestSeller--wrapper .bestSeller--img figure img {
  width: 40vh;
  height: 50vh;
  -o-object-fit: cover;
     object-fit: cover;
}
.contents--wrapper .bestSeller--wrapper .bestSeller--img figure figcaption {
  color: rgb(93, 41, 11);
}
.contents--wrapper .feature--wrapper {
  display: flex;
  flex-direction: column;
  row-gap: 8vh;
  -moz-column-gap: 0vh;
       column-gap: 0vh;
  padding-top: 15vh;
  height: 100%;
}
.contents--wrapper .feature--wrapper .feature--wrapper__left img {
  width: 50vh;
  height: 70vh;
  -o-object-fit: cover;
     object-fit: cover;
}
.contents--wrapper .feature--wrapper .feature--contents__wrapper {
  display: flex;
  -moz-column-gap: 8vh;
       column-gap: 8vh;
}
.contents--wrapper .feature--wrapper .feature--contents__wrapper .feature--wrapper__right {
  display: flex;
  flex-direction: column;
  row-gap: 5vh;
  -moz-column-gap: 0vh;
       column-gap: 0vh;
}
.contents--wrapper .feature--wrapper .feature--contents__wrapper .feature--wrapper__right p {
  color: #95969c;
  letter-spacing: 2px;
}
.contents--wrapper .feature--wrapper .feature--contents__wrapper .feature--wrapper__right figure {
  display: flex;
  justify-content: space-between;
}
.contents--wrapper .feature--wrapper .feature--contents__wrapper .feature--wrapper__right img {
  width: 35vh;
  height: 45vh;
}
.contents--wrapper .sns--wrapper {
  padding-top: 8vh;
  display: flex;
  flex-direction: column;
  row-gap: 5vh;
  -moz-column-gap: 0vh;
       column-gap: 0vh;
}
.contents--wrapper .sns--wrapper .sns--img {
  display: flex;
  flex-direction: column;
  row-gap: 5vh;
  -moz-column-gap: 0vh;
       column-gap: 0vh;
}
.contents--wrapper .sns--wrapper .sns--img :nth-child(1) {
  display: flex;
  flex-direction: row;
  row-gap: 0vh;
  -moz-column-gap: 5vh;
       column-gap: 5vh;
  justify-content: flex-end;
  align-items: flex-end;
}
.contents--wrapper .sns--wrapper .sns--img :nth-child(2) {
  display: flex;
  flex-direction: row;
  row-gap: 0vh;
  -moz-column-gap: 5vh;
       column-gap: 5vh;
  justify-content: flex-start;
  align-items: flex-start;
}
.contents--wrapper .sns--wrapper figure {
  display: flex;
  flex-wrap: wrap;
  -moz-column-gap: 3vh;
       column-gap: 3vh;
}
.contents--wrapper .sns--wrapper figure :nth-child(1) {
  width: 20vh;
  height: 20vh;
}
.contents--wrapper .sns--wrapper figure :nth-child(2) {
  width: 30vh;
  height: 30vh;
}
.contents--wrapper .sns--wrapper figure :nth-child(3) {
  width: 40vh;
  height: 40vh;
}
.contents--wrapper .sns--wrapper figure :nth-child(4) {
  width: 30vh;
  height: 30vh;
}
.contents--wrapper .sns--wrapper figure :nth-child(5) {
  width: 20vh;
  height: 20vh;
}
.contents--wrapper .sns--wrapper figure :nth-child(6) {
  width: 30vh;
  height: 30vh;
}
.contents--wrapper .sns--wrapper figure :nth-child(7) {
  width: 40vh;
  height: 40vh;
}
.contents--wrapper .sns--wrapper figure :nth-child(8) {
  width: 30vh;
  height: 30vh;
}
.contents--wrapper footer {
  border: 1px solid black;
}/*# sourceMappingURL=style.css.map */