* {
  margin: 0;
  padding: 0;
  font-family: Georgia, serif;
}

html {
  scroll-behavior: smooth;
}

h1,
h2,
h3,
p,
address,
ul,
figure {
  margin: 0;
}

ul {
  padding-left: 0;
}

@media (min-width: 300px) {
  body img {
    width: 20vh;
    height: 20vh;
  }
  body nav {
    padding: 3%;
    display: flex;
    position: fixed;
    z-index: 1;
  }
  body nav .nav--logo__img img {
    display: none;
  }
  body .nav--list__wrapper {
    background-color: #fbfaf8;
    opacity: 0.9;
    padding-bottom: 10%;
    position: fixed;
    z-index: 3;
    top: 0;
    left: -100%;
    transition: all 0.5s;
    width: 100%;
    height: 100vh;
    transition: all 0.5s;
    display: flex;
    flex-direction: column;
    row-gap: 5vh;
    -moz-column-gap: 0vh;
         column-gap: 0vh;
    justify-content: center;
    align-items: center;
  }
  body .nav--list__wrapper .nav--list ul {
    display: flex;
    flex-direction: column;
    row-gap: 5vh;
    -moz-column-gap: 0vh;
         column-gap: 0vh;
    justify-content: center;
    align-items: 0;
    display: flex;
    justify-content: space-around;
  }
  body .nav--list__wrapper .nav--list ul li {
    list-style-type: none;
    color: rgb(93, 41, 11);
    font-size: 20px;
  }
  body .nav--list__wrapper .nav--list ul li a {
    text-decoration: none;
    color: rgb(93, 41, 11);
  }
  body .nav--list__wrapper .nav--menu__logo img {
    width: 5vh;
    height: 5vh;
  }
  body .nav--list__wrapper .nav--menu__sns {
    display: flex;
    flex-direction: column;
    row-gap: 3vh;
    -moz-column-gap: 0vh;
         column-gap: 0vh;
    justify-content: 0;
    align-items: center;
  }
  body .nav--list__wrapper .nav--menu__sns p {
    font-size: 20px;
  }
  body .nav--list__wrapper .nav--menu__sns img {
    width: 5vh;
    height: 5vh;
  }
  body .open .nav--list__wrapper {
    left: -300px;
  }
  body .nav--hamburger {
    display: flex;
    flex-direction: column;
    row-gap: 1vh;
    -moz-column-gap: 0vh;
         column-gap: 0vh;
    position: relative;
    z-index: 4;
  }
  body .bar-top {
    width: 40px;
    height: 2px;
    display: block;
    background-color: rgb(210, 182, 143);
  }
  body .bar-middle {
    width: 40px;
    height: 2px;
    display: block;
    background-color: rgb(210, 182, 143);
  }
  body .bar-bottom {
    width: 25px;
    height: 2px;
    display: block;
    background-color: rgb(210, 182, 143);
  }
  body header {
    padding-top: 10vh;
  }
  body header .header--wrapper__left {
    display: flex;
    flex-direction: column;
    row-gap: 5vh;
    -moz-column-gap: 0vh;
         column-gap: 0vh;
    justify-content: center;
    align-items: center;
  }
  body header .header--wrapper__left .header--wrapper__leftImg figure {
    display: flex;
    -moz-column-gap: 3vh;
         column-gap: 3vh;
  }
  body header .header--wrapper__left .header--wrapper__leftImg img {
    width: 12vh;
    height: 15vh;
    -o-object-fit: cover;
       object-fit: cover;
    border-top-right-radius: 30%;
    border-bottom-left-radius: 30%;
  }
  body header .header--wrapper__left .header--wrapper__leftContents {
    display: flex;
    flex-direction: column;
    row-gap: 3vh;
    -moz-column-gap: 0vh;
         column-gap: 0vh;
    justify-content: center;
    align-items: center;
  }
  body header .header--wrapper__left .header--wrapper__leftContents h1 {
    font-size: 30px;
    letter-spacing: 3px;
    color: #6f3f06;
    text-align: center;
  }
  body header .header--wrapper__left .header--wrapper__leftContents h4 {
    font-family: Snell Roundhand, cursive;
    color: #6f3f06;
  }
  body header .header--wrapper__left .header--wrapper__leftContents button {
    width: 30vh;
    height: 8vh;
    background-color: white;
    color: #6f3f06;
    border: rgb(210, 182, 143) 1px solid;
    cursor: pointer;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 2px;
    font-size: 15px;
  }
  body header .header--wrapper__rightImg figure img {
    display: none;
  }
  body main {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  body main h3 {
    color: rgb(93, 41, 11);
    font-family: Snell Roundhand, cursive;
    text-align: left;
    font-size: 25px;
    background: linear-gradient(transparent 60%, #F1EBE1 0%);
  }
  body main .products--wrapper {
    width: 85%;
    padding-top: 10vh;
    display: flex;
    flex-direction: column;
    row-gap: 3vh;
    -moz-column-gap: 0vh;
         column-gap: 0vh;
  }
  body main .products--wrapper .products--wrapper__img {
    width: 100%;
  }
  body main .products--wrapper .products--wrapper__img figure {
    display: flex;
    flex-wrap: wrap;
    row-gap: 3vh;
    -moz-column-gap: 3vh;
         column-gap: 3vh;
    justify-content: center;
  }
  body main .products--wrapper .products--wrapper__img figure img {
    width: 45vh;
    height: 45vh;
    -o-object-fit: cover;
       object-fit: cover;
  }
  body main .aboutUs--wrapper {
    width: 85%;
    display: flex;
    flex-direction: column;
    row-gap: 2vh;
    -moz-column-gap: 0vh;
         column-gap: 0vh;
    padding-top: 10vh;
  }
  body main .aboutUs--wrapper .aboutUs--contents__wrapper {
    display: flex;
  }
  body main .aboutUs--wrapper .aboutUs--contents__wrapper .aboutUs--text {
    display: flex;
    flex-direction: column;
    row-gap: 2vh;
    -moz-column-gap: 0vh;
         column-gap: 0vh;
  }
  body main .aboutUs--wrapper .aboutUs--contents__wrapper .aboutUs--text p {
    color: #95969c;
    letter-spacing: 2px;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
    line-height: 1.5;
  }
  body main .aboutUs--wrapper img {
    display: none;
  }
  body main .side-scroll {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  body main .bestSeller--wrapper {
    display: flex;
    flex-direction: column;
    row-gap: 3vh;
    -moz-column-gap: 0vh;
         column-gap: 0vh;
    padding-top: 5vh;
  }
  body main .bestSeller--wrapper .side-scroll-list-wrapper {
    position: relative;
    width: 100%;
    height: 300px;
  }
  body main .bestSeller--wrapper .bestSeller--text {
    justify-content: flex-start;
  }
  body main .bestSeller--wrapper .bestSeller--img {
    position: absolute;
    display: flex;
    -moz-column-gap: 5vh;
         column-gap: 5vh;
  }
  body main .bestSeller--wrapper .bestSeller--img figure {
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    row-gap: 3vh;
    -moz-column-gap: 0vh;
         column-gap: 0vh;
    align-items: center;
    text-align: center;
  }
  body main .bestSeller--wrapper .bestSeller--img figure img {
    width: 30vh;
    height: 30vh;
    -o-object-fit: cover;
       object-fit: cover;
  }
  body main .bestSeller--wrapper .bestSeller--img figure figcaption {
    color: rgb(93, 41, 11);
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
    line-height: 1.5;
  }
  body main .feature--wrapper {
    padding-top: 10vh;
    width: 85%;
  }
  body main .feature--wrapper .feature--contents__wrapper {
    padding-top: 3vh;
    display: flex;
    -moz-column-gap: 2vh;
         column-gap: 2vh;
  }
  body main .feature--wrapper .feature--contents__wrapper .feature--wrapper__left {
    display: none;
  }
  body main .feature--wrapper .feature--contents__wrapper .feature--wrapper__right {
    display: flex;
    flex-direction: column;
    row-gap: 5vh;
    -moz-column-gap: 0vh;
         column-gap: 0vh;
    width: 100%;
  }
  body main .feature--wrapper .feature--contents__wrapper .feature--wrapper__right p {
    color: #95969c;
    letter-spacing: 2px;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
    line-height: 1.5;
  }
  body main .feature--wrapper .feature--contents__wrapper .feature--wrapper__right figure {
    display: flex;
    justify-content: center;
    -moz-column-gap: 1vh;
         column-gap: 1vh;
  }
  body main .feature--wrapper .feature--contents__wrapper .feature--wrapper__right img {
    width: 25vh;
    height: 25vh;
    -o-object-fit: cover;
       object-fit: cover;
  }
  body main .sns--wrapper {
    width: 85%;
    padding-top: 10vh;
    display: flex;
    flex-direction: column;
    row-gap: 2vh;
    -moz-column-gap: 0vh;
         column-gap: 0vh;
    align-items: center;
  }
  body main .sns--wrapper h3 {
    width: 100%;
  }
  body main .sns--wrapper .sns--img {
    display: flex;
    flex-direction: column;
    row-gap: 2vh;
    -moz-column-gap: 0vh;
         column-gap: 0vh;
  }
  body main .sns--wrapper .sns--img .sns--img__top {
    display: flex;
    flex-direction: row;
    row-gap: 0vh;
    -moz-column-gap: 1vh;
         column-gap: 1vh;
    justify-content: flex-end;
    align-items: flex-end;
  }
  body main .sns--wrapper .sns--img .sns--img__top :nth-child(1) {
    width: 8vh;
    height: 8vh;
  }
  body main .sns--wrapper .sns--img .sns--img__top :nth-child(2) {
    width: 10vh;
    height: 10vh;
  }
  body main .sns--wrapper .sns--img .sns--img__top :nth-child(3) {
    width: 13vh;
    height: 13vh;
  }
  body main .sns--wrapper .sns--img .sns--img__top :nth-child(4) {
    width: 10vh;
    height: 10vh;
  }
  body main .sns--wrapper .sns--img .sns--img__bottom {
    display: flex;
    flex-direction: row;
    row-gap: 0vh;
    -moz-column-gap: 1vh;
         column-gap: 1vh;
    justify-content: flex-start;
    align-items: flex-start;
  }
  body main .sns--wrapper .sns--img .sns--img__bottom :nth-child(1) {
    width: 10vh;
    height: 10vh;
  }
  body main .sns--wrapper .sns--img .sns--img__bottom :nth-child(2) {
    width: 13vh;
    height: 13vh;
  }
  body main .sns--wrapper .sns--img .sns--img__bottom :nth-child(3) {
    width: 10vh;
    height: 10vh;
  }
  body main .sns--wrapper .sns--img .sns--img__bottom :nth-child(4) {
    width: 7.5vh;
    height: 7.5vh;
  }
  body main .contact--wrapper {
    padding-top: 10vh;
    display: flex;
    flex-direction: column;
    row-gap: 2vh;
    -moz-column-gap: 0vh;
         column-gap: 0vh;
  }
  body main .contact--wrapper .contact--contents__wrapper {
    display: flex;
    flex-direction: column;
    row-gap: 3vh;
    -moz-column-gap: 0vh;
         column-gap: 0vh;
    justify-content: space-between;
    align-items: 0vh;
  }
  body main .contact--wrapper .contact--contents__wrapper .contact--phone__wrapper,
  body main .contact--wrapper .contact--contents__wrapper .contact--email__wrapper,
  body main .contact--wrapper .contact--contents__wrapper .contact--address__wrapper,
  body main .contact--wrapper .contact--contents__wrapper .contact--working__wrapper {
    display: flex;
    flex-direction: column;
    row-gap: 1vh;
    -moz-column-gap: 0vh;
         column-gap: 0vh;
  }
  body main .contact--wrapper .contact--contents__wrapper .contact--phone__wrapper h5,
  body main .contact--wrapper .contact--contents__wrapper .contact--email__wrapper h5,
  body main .contact--wrapper .contact--contents__wrapper .contact--address__wrapper h5,
  body main .contact--wrapper .contact--contents__wrapper .contact--working__wrapper h5 {
    color: #515155;
  }
  body main .contact--wrapper .contact--contents__wrapper .contact--phone__wrapper p,
  body main .contact--wrapper .contact--contents__wrapper .contact--email__wrapper p,
  body main .contact--wrapper .contact--contents__wrapper .contact--address__wrapper p,
  body main .contact--wrapper .contact--contents__wrapper .contact--working__wrapper p {
    color: #6f3f06;
  }
  body main .googlemap-wrapper iframe {
    -moz-filter: grayscale(100%);
    -ms-filter: grayscale(100%);
    -o-filter: grayscale(100%);
    filter: grayscale(100%);
  }
  body footer {
    display: flex;
    justify-content: flex-end;
  }
  body footer p {
    color: rgb(93, 41, 11);
    font-size: 16px;
    padding: 3%;
  }
}
@media (min-width: 700px) {
  body .nav--list__wrapper {
    padding-top: 8%;
    display: flex;
    flex-direction: column;
    row-gap: 8vh;
    -moz-column-gap: 0vh;
         column-gap: 0vh;
    justify-content: center;
    align-items: center;
  }
  body .nav--list__wrapper .nav--list ul {
    display: flex;
    flex-direction: column;
    row-gap: 5vh;
    -moz-column-gap: 0vh;
         column-gap: 0vh;
    justify-content: center;
    align-items: 0;
    display: flex;
    justify-content: space-around;
  }
  body .nav--list__wrapper .nav--list ul li {
    list-style-type: none;
    color: rgb(93, 41, 11);
    font-size: 30px;
  }
  body .nav--list__wrapper .nav--menu__logo img {
    width: 8vh;
    height: 8vh;
  }
  body .nav--list__wrapper .nav--menu__sns {
    display: flex;
    flex-direction: column;
    row-gap: 3vh;
    -moz-column-gap: 0vh;
         column-gap: 0vh;
    justify-content: 0;
    align-items: center;
  }
  body .nav--list__wrapper .nav--menu__sns p {
    font-size: 30px;
  }
  body .nav--list__wrapper .nav--menu__sns img {
    width: 8vh;
    height: 8vh;
  }
  body .nav--hamburger {
    display: flex;
    flex-direction: column;
    row-gap: 1vh;
    -moz-column-gap: 0vh;
         column-gap: 0vh;
    position: relative;
    z-index: 4;
  }
  body .open .nav--list__wrapper {
    left: 0px;
  }
  body .bar-top {
    width: 40px;
    height: 2px;
    display: block;
    background-color: rgb(210, 182, 143);
  }
  body .bar-middle {
    width: 40px;
    height: 2px;
    display: block;
    background-color: rgb(210, 182, 143);
  }
  body .bar-bottom {
    width: 25px;
    height: 2px;
    display: block;
    background-color: rgb(210, 182, 143);
  }
  body .close .bar-top {
    transform: rotate(-135deg);
    top: 12px;
    position: absolute;
    transition: 1s;
  }
  body .close .bar-middle {
    opacity: 0;
    transform: translateX(70px);
    top: 50px;
  }
  body .close .bar-bottom {
    transform: rotate(135deg);
    top: 5px;
    width: 40px;
    transition: 1s;
  }
  body header {
    display: flex;
    padding-top: 10vh;
  }
  body header .header--wrapper__left {
    align-items: flex-end;
  }
  body header .header--wrapper__left .header--wrapper__leftContents {
    align-items: flex-end;
  }
  body header .header--wrapper__left .header--wrapper__leftContents h1 {
    text-align: right;
    font-size: 35px;
  }
  body header .header--wrapper__left .header--wrapper__leftContents h4 {
    font-size: 18px;
  }
  body header .header--wrapper__left .header--wrapper__leftContents button {
    width: 20vh;
    height: 5vh;
    font-size: 13px;
  }
  body header .header--wrapper__left .header--wrapper__leftImg {
    width: 80%;
  }
  body header .header--wrapper__left .header--wrapper__leftImg img {
    width: 10vh;
    height: 10vh;
    -o-object-fit: cover;
       object-fit: cover;
  }
  body header .header--wrapper__rightImg figure img {
    display: flex !important;
    width: 35vh;
    height: 35vh;
    -o-object-fit: cover;
       object-fit: cover;
  }
  body main h3 {
    font-size: 35px;
  }
  body main .products--wrapper {
    padding-top: 10vh;
    row-gap: 5vh;
  }
  body main .products--wrapper .products--wrapper__img figure img {
    width: 19vh;
    height: 19vh;
    -o-object-fit: cover;
       object-fit: cover;
  }
  body main .aboutUs--wrapper {
    row-gap: 4vh;
  }
  body main .aboutUs--wrapper .aboutUs--contents__wrapper .aboutUs--text {
    row-gap: 2vh;
  }
  body main .bestSeller--wrapper {
    padding-top: 10vh;
    row-gap: 5vh;
  }
  body main .bestSeller--wrapper .side-scroll-list-wrapper {
    height: 400px;
  }
  body main .feature--wrapper {
    display: flex;
    flex-direction: column;
    row-gap: 2vh;
    padding-top: 10vh;
    width: 85%;
  }
  body main .feature--wrapper .feature--contents__wrapper {
    align-items: center;
  }
  body main .feature--wrapper .feature--contents__wrapper .feature--wrapper__left {
    display: flex;
  }
  body main .feature--wrapper .feature--contents__wrapper .feature--wrapper__left img {
    width: 20vh;
    height: 45vh;
    -o-object-fit: cover;
       object-fit: cover;
  }
  body main .feature--wrapper .feature--contents__wrapper .feature--wrapper__right {
    display: flex;
    flex-direction: column;
    row-gap: 3vh;
    -moz-column-gap: 0vh;
         column-gap: 0vh;
  }
  body main .feature--wrapper .feature--contents__wrapper .feature--wrapper__right figure img {
    width: 20vh;
    height: 20vh;
  }
  body main .sns--wrapper {
    row-gap: 5vh;
    padding-top: 10vh;
    width: 85%;
    row-gap: vh;
  }
  body main .sns--wrapper .sns--img .sns--img__top :nth-child(1) {
    width: 10vh;
    height: 10vh;
    -o-object-fit: cover;
       object-fit: cover;
  }
  body main .sns--wrapper .sns--img .sns--img__top :nth-child(2) {
    width: 15vh;
    height: 15vh;
    -o-object-fit: cover;
       object-fit: cover;
  }
  body main .sns--wrapper .sns--img .sns--img__top :nth-child(3) {
    width: 20vh;
    height: 20vh;
    -o-object-fit: cover;
       object-fit: cover;
  }
  body main .sns--wrapper .sns--img .sns--img__top :nth-child(4) {
    width: 15vh;
    height: 15vh;
    -o-object-fit: cover;
       object-fit: cover;
  }
  body main .sns--wrapper .sns--img .sns--img__bottom {
    display: flex;
    flex-direction: row;
    row-gap: 0vh;
    -moz-column-gap: 1vh;
         column-gap: 1vh;
    justify-content: flex-start;
    align-items: flex-start;
  }
  body main .sns--wrapper .sns--img .sns--img__bottom :nth-child(1) {
    width: 15vh;
    height: 15vh;
    -o-object-fit: cover;
       object-fit: cover;
  }
  body main .sns--wrapper .sns--img .sns--img__bottom :nth-child(2) {
    width: 20vh;
    height: 20vh;
    -o-object-fit: cover;
       object-fit: cover;
  }
  body main .sns--wrapper .sns--img .sns--img__bottom :nth-child(3) {
    width: 15vh;
    height: 15vh;
    -o-object-fit: cover;
       object-fit: cover;
  }
  body main .sns--wrapper .sns--img .sns--img__bottom :nth-child(4) {
    width: 10vh;
    height: 10vh;
    -o-object-fit: cover;
       object-fit: cover;
  }
  body main .contact--wrapper {
    padding-top: 10vh;
    width: 85%;
    display: flex;
    flex-direction: column;
    row-gap: 5vh;
    -moz-column-gap: 0vh;
         column-gap: 0vh;
  }
  body main .contact--wrapper .contact--contents__wrapper {
    display: flex;
    flex-direction: row;
    row-gap: 0vh;
    -moz-column-gap: 3vh;
         column-gap: 3vh;
    justify-content: space-between;
    align-items: 0vh;
  }
}
@media (min-width: 1000px) {
  body {
    display: flex;
  }
  body nav {
    padding: 4vh;
    border-right: 1px solid rgb(210, 182, 143);
    display: flex;
    height: 100vh;
    position: fixed;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  body .nav--logo__img img {
    display: flex;
    width: 5vh;
    height: 5vh;
  }
  body .nav--list__wrapper {
    row-gap: 5vh;
    padding-top: 3%;
  }
  body .nav--list__wrapper .nav--list ul {
    display: flex;
    flex-direction: column;
    row-gap: 5vh;
    -moz-column-gap: 0vh;
         column-gap: 0vh;
    justify-content: center;
    align-items: 0;
  }
  body .nav--list__wrapper .nav--list ul li {
    font-size: 28px;
  }
  body .nav--logoButton__wrapper {
    display: flex;
    flex-direction: column;
    row-gap: 3vh;
  }
  body .nav--logoButton__wrapper .nav--logo__img {
    padding-bottom: 10%;
  }
  body .nav--logoButton__wrapper .nav--logo__img img {
    display: flex;
    width: 5vh;
    height: 5vh;
  }
  body .close .bar-top {
    top: 10px;
    position: absolute;
    transition: 1s;
  }
  body .close .bar-middle {
    opacity: 0;
    transform: translateX(70px);
    top: 50px;
  }
  body .close .bar-bottom {
    width: 40px;
    transition: 1s;
  }
  body header {
    padding-top: 10vh;
    -moz-column-gap: 5vh;
         column-gap: 5vh;
  }
  body header .header--wrapper__left {
    width: 50%;
    display: flex;
    flex-direction: column;
    row-gap: 10vh;
    -moz-column-gap: 0vh;
         column-gap: 0vh;
    justify-content: center;
    align-items: 0;
  }
  body header .header--wrapper__left .header--wrapper__leftContents {
    width: 70%;
    display: flex;
    flex-direction: column;
    row-gap: 5vh;
    -moz-column-gap: 0vh;
         column-gap: 0vh;
    justify-content: center;
    align-items: center;
    align-items: flex-end;
  }
  body header .header--wrapper__left .header--wrapper__leftContents h1 {
    text-align: right;
    font-size: 45px;
  }
  body header .header--wrapper__left .header--wrapper__leftContents button {
    width: 30vh;
    height: 8vh;
    font-size: 15px;
  }
  body header .header--wrapper__left .header--wrapper__leftImg {
    width: 70%;
  }
  body header .header--wrapper__left .header--wrapper__leftImg figure {
    -moz-column-gap: 6vh;
         column-gap: 6vh;
  }
  body header .header--wrapper__left .header--wrapper__leftImg figure img {
    width: 18vh;
    height: 22vh;
    -o-object-fit: cover;
       object-fit: cover;
  }
  body header .header--wrapper__rightImg figure img {
    display: flex !important;
    height: 100vh;
    width: 80vh;
    -o-object-fit: cover;
       object-fit: cover;
  }
  body main {
    padding-left: 13vh;
  }
  body main .products--wrapper {
    width: 70%;
    padding-top: 3vh;
    display: flex;
    flex-direction: column;
    row-gap: 5vh;
    -moz-column-gap: 0vh;
         column-gap: 0vh;
  }
  body main .products--wrapper .products--wrapper__img figure img {
    width: 37vh;
    height: 37vh;
  }
  body main .aboutUs--wrapper {
    width: 70%;
    padding-top: 15vh;
  }
  body main .aboutUs--wrapper .aboutUs--contents__wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
  }
  body main .aboutUs--wrapper .aboutUs--contents__wrapper .aboutUs--text {
    display: flex;
    flex-direction: column;
    row-gap: 5vh;
    -moz-column-gap: 0vh;
         column-gap: 0vh;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  body main .aboutUs--wrapper .aboutUs--contents__wrapper .aboutUs--text h3 {
    width: 100%;
  }
  body main .aboutUs--wrapper .aboutUs--contents__wrapper .aboutUs--text p {
    line-height: 2;
  }
  body main .aboutUs--wrapper img {
    display: flex;
    width: 80vh;
    height: 70vh;
    -o-object-fit: cover;
       object-fit: cover;
  }
  body main .bestSeller--wrapper {
    width: 70%;
    display: flex;
    flex-direction: column;
    row-gap: 5vh;
    -moz-column-gap: 5vh;
         column-gap: 5vh;
    padding-top: 15vh;
  }
  body main .bestSeller--wrapper .side-scroll-list-wrapper {
    height: 500px;
  }
  body main .bestSeller--wrapper .bestSeller--text {
    display: flex;
    justify-content: flex-start;
  }
  body main .bestSeller--wrapper .bestSeller--text h3 {
    width: 100%;
  }
  body main .bestSeller--wrapper .bestSeller--img {
    flex-direction: row !important;
    -moz-column-gap: 15vh;
         column-gap: 15vh;
    justify-content: space-around;
  }
  body main .bestSeller--wrapper .bestSeller--img figure {
    display: flex;
    flex-direction: column;
    row-gap: 3vh;
    -moz-column-gap: 0vh;
         column-gap: 0vh;
    align-items: center;
    text-align: center;
  }
  body main .bestSeller--wrapper .bestSeller--img figure img {
    width: 40vh;
    height: 50vh;
    -o-object-fit: cover;
       object-fit: cover;
  }
  body main .bestSeller--wrapper .bestSeller--img figure figcaption {
    color: rgb(93, 41, 11);
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
    line-height: 1.5;
  }
  body main .feature--wrapper {
    padding-top: 15vh;
    width: 70%;
    display: flex;
    flex-direction: column;
    row-gap: 5vh;
  }
  body main .feature--wrapper .feature--contents__wrapper {
    justify-content: space-between;
    display: flex;
    -moz-column-gap: 3vh;
         column-gap: 3vh;
    align-items: center;
  }
  body main .feature--wrapper .feature--contents__wrapper .feature--wrapper__left {
    display: flex;
  }
  body main .feature--wrapper .feature--contents__wrapper .feature--wrapper__left img {
    width: 50vh;
    height: 80vh;
  }
  body main .feature--wrapper .feature--contents__wrapper .feature--wrapper__right {
    width: 50%;
    row-gap: 6vh;
  }
  body main .feature--wrapper .feature--contents__wrapper .feature--wrapper__right p {
    line-height: 2;
  }
  body main .feature--wrapper .feature--contents__wrapper .feature--wrapper__right figure {
    display: flex;
    justify-content: space-between;
  }
  body main .feature--wrapper .feature--contents__wrapper .feature--wrapper__right figure img {
    width: 25vh;
    height: 35vh;
  }
  body main .sns--wrapper {
    padding-top: 15vh;
    width: 70%;
  }
  body main .sns--wrapper .sns--img {
    width: 100%;
  }
  body main .sns--wrapper .sns--img .sns--img__top :nth-child(1) {
    width: 20vh;
    height: 20vh;
  }
  body main .sns--wrapper .sns--img .sns--img__top :nth-child(2) {
    width: 30vh;
    height: 30vh;
  }
  body main .sns--wrapper .sns--img .sns--img__top :nth-child(3) {
    width: 40vh;
    height: 40vh;
  }
  body main .sns--wrapper .sns--img .sns--img__top :nth-child(4) {
    width: 30vh;
    height: 30vh;
  }
  body main .sns--wrapper .sns--img .sns--img__bottom {
    display: flex;
    flex-direction: row;
    row-gap: 0vh;
    -moz-column-gap: 1vh;
         column-gap: 1vh;
    justify-content: flex-start;
    align-items: flex-start;
  }
  body main .sns--wrapper .sns--img .sns--img__bottom :nth-child(1) {
    width: 30vh;
    height: 30vh;
  }
  body main .sns--wrapper .sns--img .sns--img__bottom :nth-child(2) {
    width: 40vh;
    height: 40vh;
  }
  body main .sns--wrapper .sns--img .sns--img__bottom :nth-child(3) {
    width: 30vh;
    height: 30vh;
  }
  body main .sns--wrapper .sns--img .sns--img__bottom :nth-child(4) {
    width: 20vh;
    height: 20vh;
  }
  body main .contact--wrapper {
    width: 70%;
    padding-top: 15vh;
    display: flex;
    flex-direction: column;
    row-gap: 5vh;
    -moz-column-gap: 0vh;
         column-gap: 0vh;
  }
}/*# sourceMappingURL=style.css.map */